<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/content/css")*@
    <style>
        body {
            margin: 0px;
            padding: 0px;
           
            overflow: hidden;
            
            background-image: url("../../Content/tour.jpg");
            background-repeat:no-repeat;
            background-attachment:fixed;
            background-size:100% 110%;
       width: 100%;
        }
      
    </style>


</head>
<body>
    <div id="_layout_head">@RenderSection("head", false)</div>
    <div id="_layout_body">
        @RenderBody()
    </div>
    <div id="_layout_foot">@RenderSection("foot", false)</div>

    @Scripts.Render("~/bundles/jquery")



</body>
</html>
